// Main Page Layout

body {
    padding: 0;
    overflow-y: scroll; // prevents jumping when scrollbar (dis)appears
    overflow-x: hidden;

}

body, html {
    min-height: 100%;
    height: 100%;
}

.wrapper {
    background: #463e36;
    min-height: 100%;

    @include breakpoint($tablet) {
        padding: 90px 0 90px 0;
        background: url(/build/images/grid.png), url(/build/images/bg.jpg) fixed no-repeat center 90px;
    }
}

// Main page title
.main-title {
    padding: 0;
    color: #ffeee4;
    transition: all 500ms linear;
    margin: 30px 10px;

    @include breakpoint($normal) {
        font-size: 48px;
        margin: 150px 0;
    }
}

// Main wrapper and background for articles
.main-container {
    @extend .transparent-container;
    font-size: 18px;
    padding: 10px;

    @include breakpoint($normal) {
        margin: 0;
        padding: 20px;
    }

    @include breakpoint($wide) {
        padding: 40px;
    }
}


// Bootstrap changes
.container {
    padding: 0;

    @include breakpoint($xxwide) {
        width: 1480px;
    }
}
