_backup/
packages/
KelsayFrontEnd/node_modules/
KelsayFrontEnd/bower_components/
KelsayFrontEnd/build/
KelsayFrontEnd/bin/
KelsayFrontEnd/obj/
KelsayBackEnd/App_Data
KelsayBackEnd/App_Data/Logs
KelsayBackEnd/App_Data/ExamineIndexes
KelsayBackEnd/App_Browsers
KelsayBackEnd/bin
KelsayBackEnd/obj
KelsayBackEnd/media
KelsayBackEnd/Config/connectionStrings.config
