<!-- Portfolio - details -->
<div class="portfolio-details">
    <div class="overlay" ng-show="portfolio.$showDetails" ng-click="portfolio.hideDetails()"></div>
    <div class="window" ng-show="portfolio.$showDetails">

        <div class="loading" ng-hide="portfolio.details.$loaded">
            <icon></icon> Loading ..
        </div>

        <div ng-show="portfolio.details.$loaded">
            <a ng-click="portfolio.hideDetails()" class="close"><span class="glyphicon glyphicon-remove"></span></a>
            <h2 ng-bind="portfolio.details.name" class="title"></h2>
            <h5 ng-bind-html="portfolio.details.heading | trusted" class="heading"></h5>

            <!-- See Online link -->
            <a href="{{portfolio.details.siteUrl}}" ng-show="portfolio.details.siteUrl" class="online" target="_blank">See online &raquo;</a>
            <span ng-show="!portfolio.details.siteUrl" class="offline">No online access</span>

            <!-- Description -->
            <div class="copy" ng-bind-html="portfolio.details.description | trusted"></div>

            <!-- List of images -->
            <div class="col-md-3" ng-repeat="image in portfolio.details.images" ng-if="$index >= 1 || item.images.length <= 1">
                <img ng-src="{{image}}" />
            </div>
        </div>
    </div>
</div>

<!-- Portfolio -->
<div class="loading" ng-hide="portfolio.items.length">
    <icon></icon> Loading ..
</div>
<ul class="portfolio">
    <li ng-repeat="item in portfolio.items track by $index" class="item">
        <div class="frame">
            <img class="image" ng-src="{{ item.thumbnail }}" />
            <div class="menu" ng-click="portfolio.showDetails(item.url, $index)">
                <h3 class="title" ng-bind="item.name"></h3>
                <h4 class="subtitle" ng-bind-html="item.heading | trusted"></h4>
            </div>
        </div>
    </li>
</ul>

<div class="text-center" ng-click="portfolio.loadItems()" ng-show="portfolio.items.length > 0 && !portfolio.$finished">
    <a class="btn btn-primary">
        <icon class="loading-icon" ng-show="portfolio.$loading"></icon>
        Load more ..
    </a>
</div>
