* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}


// A semi-tranparent container
.transparent-container {
    background: #fff;
    position: relative;
    overflow: hidden;

    @include breakpoint($tablet) {
        background: rgba(255,255,255,0.9);
        box-shadow: 0 0 12px rgba(0,0,0,0.25);
        border-radius: 4px;
    }
}

// A loading icon
.loading {
    font-size: 16px;
    padding: 20px;
    text-align: center;
    color: #fff;

    .main-container &,
    .menu-bar & {
        color: #666;
    }

    icon {
        display: inline-block;
        background: url('/build/images/loading.gif');
        width: 16px;
        height: 11px;
    }
}
