.view {
    transition: opacity 150ms linear !important;

    &.ng-enter {
        opacity: 0;
        position: absolute;
    }


    &.ng-enter-active {
    //    opacity: 1;
    }

    &.ng-leave {
    //    opacity: 1;
    }

    &.ng-leave-active {
        opacity: 0;
    }
}
