body {
    font-family: Roboto, 'Helvetica Neue LT Pro', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #666;
}

h1, h2, h3, h4, h5, h6, .box {
    font-weight: 100;

    b, strong {
        font-weight: 400;
    }
}

p {
    font-weight: 300;
}


img {
    max-width: 100%;
    height: auto;
}
