<div class="loading" ng-show="!jobs.items.$loaded">Loading</div>

<div class="job" ng-repeat="item in jobs.items" ng-show="jobs.items.$loaded">

    <div class="side">
        <img ng-src="{{ item.icon }}" class="logo" />
        <div class="date">
            <b>{{ item.dateEnd }}</b>
            {{ item.dateStart }}

        </div>
    </div>
    <h3 class="title" ng-bind="item.name"></h3>
    <div class="location" ng-bind="item.location"></div>
    <div class="description" ng-bind-html="item.description | trusted"></div>
</div>